@using Microsoft.AspNetCore.Http;
@{
	var sessionCustomer = ViewContext.HttpContext.Session.GetString("IDCustomer");


}


<script>
	function sendCurrentUrl() {
		var currentUrl = window.location.href;
		var link = document.getElementById("sendUrl");
		link.href = "@Url.Action("Login", "Account")?currentUrl=" + encodeURIComponent(currentUrl);
	}
</script>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - WebsiteNoiThat</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/WebsiteNoiThat.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/cart-style.css" asp-append-version="true" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<!-- jQuery library -->
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script src="~/js/cart-script.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	
	@*--------------------	bootstrap-----------------*@
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	@*--------------------	font & icon-----------------*@
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Tilt+Prism&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Raleway:wght@100&family=Tilt+Prism&display=swap" rel="stylesheet">

</head>


<body>
	<header>
		<div class="grid grid-cols-8 gap-4 bg-black ">
			<p class="col-span-5 text-white mb-0 ml-[5px]"> Home Improvement Deals | Financing Options</p>
			<p class="col-span text-white m-0 flex">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 01-2.555-.337A5.972 5.972 0 015.41 20.97a5.969 5.969 0 01-.474-.065 4.48 4.48 0 00.978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25z" />
				</svg>
				Contact us
			</p>
			<p class="col-span text-white m-0 flex">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z" />
				</svg>
				Support
			</p>
			<p class="col-span text-white m-0 flex">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
					<path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
				</svg>
				Find store
			</p>
		</div>

		<div class="grid grid-cols-7 justify-items-center bg-white items-center">
			<div class=" col-span w-[100px] h-20 p-2  "><img src="~/Images/logoo.png" alt="Hình ảnh" class="w-full h-full object-cover" /></div>

			<div>

				<input type="search" class="border-1" name="file" id="fileInput" />
			</div>
			

			<div class="col-span flex">

				@if (sessionCustomer == null)// chưa đăng nhập
				{
					<div class=" ">

						<a id="sendUrl" onclick="sendCurrentUrl()">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
							</svg>
						</a>
					</div>


					
				}
				else // đã đăng nhập
				{

					<div>
						<a href="@Url.Action("index", "giohang", new {idKH=@sessionCustomer})">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
								<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
							</svg>
						</a>

					</div>



					<div>
						<a href="@Url.Action("logout", "Account")">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ml-[10px]">
								<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
							</svg>

						</a>

					</div>


				}



			</div>
		</div>

		<div class=" border-[2px] ">

			<ul class="flex justify-center mb-0 ">
				<a  style="text-decoration:none;" class="text-black" href="@Url.Action("index", "Home")"><li class="px-5  font-bold py-1 ">HOME </li></a>
				<li class="px-5  font-bold py-1  font-bold">PRODUCT</li>
				<li class="px-5  font-bold py-1  font-bold">DESIGN PROJECT </li>
				<li class="px-5  font-bold py-1 font-bold">US ABOUT </li>
				<li class="px-5  font-bold py-1  font-bold">CONTACT </li>
			</ul>
		</div>
	</header>

	@RenderBody()

	<br>
<div class="border-1 bg-green-800" px-[100px] >

						<form asp-action="UploadImage" asp-controller="AI" method="post" enctype="multipart/form-data" class=" flex pt-3 px-[100px]">
							<input type="file" name="file" id="fileInput" />
							<input type="submit" value="Upload" />
						</form>


					</div>

	<footer class="bg-gray-800 text-white py-8">
		<div class="container mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">

			<div class="px-4">
				<h2 class="text-lg font-semibold mb-2">CONTACT</h2>
				<ul class="list-none">
					<li>Contact us</li>
					<li>Find Store</li>
					<li>Book appointment</li>
					<li>As a professional</li>
				</ul>
			</div>

			<div class="px-4">
				<h2 class="text-lg font-semibold mb-2">CUSTOMER SERVICE</h2>
				<ul class="list-none">
					<li>Customer information</li>
					<li>Delivery</li>
					<li>Returns</li>
					<li>5 year warranty</li>
					<li>Assembly instructions</li>
					<li>Handling and packaging</li>
					<li>Product care</li>
					<li>Order free samples</li>
				</ul>
			</div>

			<!-- Giới thiệu -->
			<div class="px-4">
				<h2 class="text-lg font-semibold mb-2">ABOUT</h2>
				<ul class="list-none">
					<li>About Us about</li>
					<li>Join our team</li>
					<li>Franchise</li>
					<li>Press Lounge</li>
				</ul>
			</div>

			<div class="px-4">
				<h2 class="text-lg font-semibold mb-2">Us about</h2>
				<ul class="list-none">
					<li>Login</li>
					<li>Register</li>
					<li>Orders</li>
					<li>Offers</li>
					<li>Favourites</li>
				</ul>
			</div>

		</div>
	</footer>
	
	
</body>
</html>
