@model WebsiteNoiThat.Models.KhachHang;

<style>
    .cart-btn {
        display: inline-block;
        background-color: black;
        border-radius: 6px;
        font-size: 16px;
        color: #FFFFFF;
        text-decoration: none;
        padding: 12px 30px;
        transition: all .5s;
    }

        .cart-btn:hover {
            background-color: #262626;
            text-decoration-color: #FAF9F6;
        }

    .alertBox {
        padding: 20px;
        background-color: #90EE90;
        color: white;
    }
    
    .rightside
    {
        float: right;
        border: 2px solid #000000;
        font-family: verdana;
        background-color: #B5CFE0;
        padding-left: 10px;
    }
</style>
<h2>Thông tin khách hàng và tài khoản</h2>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }
        <hr/>
        <div>
            @if (TempData["AlertMessage"] != null)
            {
                <div id="successAlert" class= "alertBox alert @TempData["AlertType"]">
                    @TempData["AlertMessage"]
                </div>    
            }
            <div class="form-group" class="flex" style="display:contents;">
                <div class="flex">
                <div class="px-[10px]">

                         <form class="InfomationForm">
                        <input name="MaKH" id="MaKH" value="@Model.MaKH" hidden="hidden">
                        <label class="control-label ">Tên khách hàng</label>
                        <div class="">
                            <input type="text" name="TenKH" id="TenKH" value="@Model.TenKH" class="form-control">
                        </div>
                        <label class="control-label ">Số điện thoại</label>
                        <div class="">
                            <input type="number" name="Sdt" id="Sdt" value="@Model.SDT" class="form-control">
                        </div>
                        <label class="control-label ">Địa chỉ</label>
                        <div class="">
                            <input name="DiaChi" id="DiaChi" value="@Model.DiaChi" class="form-control">
                        </div>
                        <div class="">
                            <input name="TaiKhoan" id="TaiKhoan" value="@Model.TaiKhoan" class="form-control" hidden="hidden">
                        </div>
                        <div class="">
                            <input name="MatKhau" id="MatKhau" value="@Model.MatKhau" class="form-control" hidden="hidden">
                        </div>
                        <div class="form-group mt-2 d-flex">
                            <div class="">
                                <button asp-action="UpdateAccount" formmethod="post" type="submit" class="cart-btn">THAY ĐỔI THÔNG TIN CÁ NHÂN</button>
           
                            </div>
                        </div>
                    </form>
                </div>
               <div>

                    <form class="PasswordForm">
                        <input name="MaKH" id="MaKH" value="@Model.MaKH" hidden="hidden">
                        <label class="control-label ">Mật khẩu hiện tại</label>
                        <div class="">
                            <input type="password" disabled="disabled" name="MatKhauHienTai" id="MatKhauHienTai"  value="@Model.MatKhau" class="form-control">
                        </div>
                        <label class="control-label ">Mật khẩu mới</label>
                        <div class="">
                            <input type="password" name="MatKhauMoi" id="MatKhauMoi" value=""  class="form-control">
                        </div>
                        <label class="control-label ">Xác nhận mật khẩu mới</label>
                        <div class="">
                            <input type="password" name="XacNhanMatKhauMoi" id="XacNhanMatKhauMoi"  class="form-control" value="">
                        </div>
                        <div class="form-group mt-2 d-flex">
                            <div class="">
                                <button asp-action="UpdatePassword" formmethod="post" type="submit" class="cart-btn">THAY ĐỔI MẬT KHẨU</button>
                            </div>
                        </div>
                    </form>


               </div>
               </div>
            </div>
        </div>
    </div>
    
}

<script>
    $(document).ready(function () {
        $(".InfomationForm").submit(function (event) {
            event.preventDefault();

            var tenKH = $("#TenKH").val();
            var sdt = $("#Sdt").val();
            var diaChi = $("#DiaChi").val();

            if (tenKH.trim() === '' || sdt.trim() === '' || diaChi.trim() === '') {
                alert("Vui lòng điền đầy đủ thông tin");
            } else {
                this.submit();
            }
        });

        $(".PasswordForm").submit(function (event) {
            event.preventDefault();
            var matKhauMoi = $("#MatKhauMoi").val();
            var xacNhanMatKhauMoi = $("#XacNhanMatKhauMoi").val();

            if (matKhauMoi.trim() === '' || xacNhanMatKhauMoi.trim() === '') {
                alert("Vui lòng điền mật khẩu mới và xác nhận mật khẩu");
            } else {
                this.submit();
            }
        });
    });
</script>